@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 20px;               
    padding: 20px;           
  }
  
  .header {
    display: flex;
    align-items: center;     
    gap: 10px;               
  }

  img{
    width: 60px;
  }
  
  .buttons {
    display: flex;
    gap: 10px; 
  }
  
  .button-primary {
    padding: 10px 20px;
    background-color: #fc53b8;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-primary:hover {
    background-color: #f15ed6;
  }
  
  .button-secondary {
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-secondary:hover {
    background-color: #5a6268;
  }